Repository LA1CH3/jaylaiche.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

feat: basic layout, pulling blog post pages
  src/components/AppHeader.tsx
  src/components/AppLayout.tsx
  src/components/AppWidth.ts
  src/components/index.ts
  src/pages/blog/test.mdx
  src/pages/index.tsx
  src/util/getAllPosts.ts
Due: yarn eslint --fix, yarn prettier --write

feat(ui): working homepage, basic post layout
  src/components/AppHeader.tsx
  src/components/AppLayout.tsx
  src/components/AppWidth.ts
  src/components/Mdx.tsx
  src/components/NextLink.tsx
  src/components/PostLayout.tsx
  src/components/PostList.tsx
  src/components/button.js
  src/components/index.ts
  src/pages/blog/test.mdx
  src/pages/index.tsx
  src/util/getAllPosts.ts
Due: yarn eslint --fix, yarn prettier --write

feat: add footer, ancillary pages, code highlighting
  package.json
  src/components/AppFooter.tsx
  src/components/AppHeader.tsx
  src/components/AppLayout.tsx
  src/components/AppWidth.ts
  src/components/Mdx.tsx
  src/components/MdxLayout.tsx
  src/components/PostLayout.tsx
  src/components/index.ts
  src/pages/about.mdx
  src/pages/blog/test.mdx
  src/pages/contact.mdx
  src/pages/index.tsx
  src/pages/portfolio.mdx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: color modes, pages, old blog post
  package.json
  src/components/AppFooter.tsx
  src/components/AppHeader.tsx
  src/components/AppLayout.tsx
  src/components/AppWidth.ts
  src/components/Mdx.tsx
  src/components/MdxLayout.tsx
  src/components/PostList.tsx
  src/pages/_app.tsx
  src/pages/about.mdx
  src/pages/blog/building-this-site-again.mdx
  src/pages/blog/building-this-site.mdx
  src/pages/contact.mdx
  src/pages/index.tsx
  src/pages/portfolio.mdx
  src/util/date.ts
  src/util/getAllPosts.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: update @la1ch3/ui to latest
  package.json
  yarn.lock
Due: none

fix: update ui to correct storage on color modes
  package.json
  yarn.lock
Due: none

fix: working local storage
  package.json
  yarn.lock
Due: none

fix: upgrade with working color mode storage
  package.json
  yarn.lock
Due: none

fix: update ui to fix theme flash
  package.json
  yarn.lock
Due: none

fix: update ui to fix List colors
  package.json
  yarn.lock
Due: none

feat: switch syntax color themes based on color mode
  src/components/Mdx.tsx
Due: yarn eslint --fix

feat: initial blog post
  src/components/AppLayout.tsx
  src/components/Mdx.tsx
  src/pages/about.mdx
  src/pages/blog/building-this-site-again.mdx
  src/pages/index.tsx
  src/pages/portfolio.mdx
Due: yarn eslint --fix, yarn prettier --write

try to fix colormode
  src/components/AppFooter.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/util/ColorModeProvider.tsx
  src/util/ColorModeScript.tsx
Due: yarn eslint --fix

move script down
  src/pages/_document.tsx
Due: yarn eslint --fix

use imported css file instead of global function call for styles
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/util/ColorModeScript.tsx
  src/util/globals.css
Due: yarn eslint --fix

fix: remove semicolon, fix responsiveness, update color mode toggle
  .prettierrc.json
  src/components/AppFooter.tsx
  src/components/Mdx.tsx
  src/components/MdxLayout.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/building-this-site-again.mdx
  src/util/ColorModeScript.tsx
  src/util/globals.css
Due: yarn eslint --fix, yarn prettier --write

feat: add homepage animation, fix responsiveness and footer
  package.json
  src/components/AppFooter.tsx
  src/components/AppHeader.tsx
  src/components/Mdx.tsx
  yarn.lock
Due: yarn eslint --fix

fix: lift App* components to _app.tsx
  src/components/AppLayout.tsx
  src/pages/_app.tsx
Due: yarn eslint --fix

feat: overflow hidden to avoid flash of scrollbar on smaller viewports
  src/pages/_app.tsx
Due: yarn eslint --fix

feat(pages): add VSCode theme post
  src/components/Mdx.tsx
  src/components/MdxLayout.tsx
  src/pages/blog/i-made-a-vscode-theme.mdx
  src/public/static/images/nova-theme.png
Due: yarn eslint --fix, yarn prettier --write

feat(all): add favicon, clean up
  src/components/AppLayout.tsx
  src/components/Mdx.tsx
  src/pages/_document.tsx
  src/public/static/images/favicon.svg
  src/util/ColorModeProvider.tsx
Due: yarn eslint --fix

fix(images): correct css for favicon dark mode
  src/public/static/images/favicon.svg
Due: none

feat(all): upgrade nextjs, fix image rendering
  next.config.js
  package.json
  public/images/favicon.svg
  public/images/nova-theme.png
  src/components/Mdx.tsx
  src/pages/_document.tsx
  src/pages/blog/i-made-a-vscode-theme.mdx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(blog): add resume link
  public/resume.pdf
  src/pages/about.mdx
Due: yarn prettier --write

feat(layout): add usePrefersReducedMotion hook for header animation
  src/components/AppHeader.tsx
  src/util/usePrefersReducedMotion.ts
Due: yarn eslint --fix

fix(layout): use var for duration
  src/components/AppHeader.tsx
Due: yarn eslint --fix

docs(blog): update about me content for Shopify
  src/pages/about.mdx
Due: yarn prettier --write

docs(blog): update portfolio to reference past
  src/pages/portfolio.mdx
Due: yarn prettier --write

Update building-this-site-again.mdx
  src/pages/blog/building-this-site-again.mdx
Due: yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: *.{ts,tsx,js,jsx}
  yarn prettier --write: any of: *.mdx
